@import url('https://fonts.googleapis.com/css?family=Open Sans');
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(http://cdn.imgchest.com/files/6yxkcg9ek7w.png);
    background-repeat: no-repeat;
    max-width: 1282px;
    min-height: 1199px;
    font-size: 2rem;
    opacity: 0.5;
    color: blue;
}

.container {
    display: grid;
    grid-template-columns:
        minmax(200px, 435px)
        minmax(200px, 498px)
        minmax(200px, 351px);

    grid-template-rows:
        minmax(44px, auto)
        minmax(126px, auto)
        minmax(121px, auto)
        minmax(448px, auto)
        minmax(465px, auto);

    grid-template-areas:
      "one one one"
      "two six seven"
      "three three three"
      "four four four"
      "five five five";
}

ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: rgba(0, 152, 202, 0.5);
    color: #ffffff;
    max-width: 1124px;
    min-height: 100%;
    padding-left: 17px;
    padding-top: 12px;
    margin-left: 67px;
    flex-wrap: wrap;
    }

ul li {
        white-space: nowrap;
    }

ul.products li {
        text-align: center;
    }
      
.container > * {
    border: 2px dashed blue;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.box1 { grid-area: one; }
.box2 { grid-area: two; }
.box3 { grid-area: three; }
.box4 { grid-area: four; }
.box5 { grid-area: five; }
.box6 { grid-area: six; }
.box7 { grid-area: seven; }

.cars { 
    flex-basis: 20px; 
}

.comm {
    flex-basis: 20px; 
    padding-left: 31px;
}

.moto {
    flex-basis: 20px;
    padding-left: 33px; 
}

.auto { 
    flex-basis: 20px;
    padding-left: 33px; 
}

.spare { 
    flex-basis: 20px;
    padding-left: 31px; 
}

.serv { 
    flex-basis: 20px;
    padding-left: 31px; 
}

.buy { 
    flex-basis: 20px;
    padding-left: 32px; 
}

.check { 
    flex-basis: 20px;
    padding-left: 32px; 
}

.tablets { 
    flex-basis: 20px;
    padding-left: 32px;
    padding-right: 6px; 
}

.computers { 
    flex-basis: 20px;
    padding-right: 5px;
    padding-top: 18px;
    padding-bottom: 19px;
}

.accessories { 
    flex-basis: 20px; 
    padding-left: 29px;
    padding-top: 19px;
    
}

.climate {
    flex-basis: 20px;
    padding-left: 31px; 
    padding-top: 19px;
}

.huawei { 
    flex-basis: 20px;
    padding-left: 37px; 
    padding-top: 19px;
}

.server { 
    flex-basis: 20px;
    padding-left: 32px;
    padding-top: 19px;
}

.smartwatch { 
    flex-basis: 20px;
    padding-left: 30px; 
    padding-top: 19px;
}

.audio { 
    flex-basis: 20px;
    padding-left: 39px;
    padding-right: 51px;
    padding-top: 19px;
}

.health { 
    flex-basis: 20px;
    padding-bottom: 3px;
}