body {
    font-family: Trebuchet MS;
}
#header {
    background-color: dimgray;
    height: 2.5rem;
    border-bottom: 2.5rem solid LightSeaGreen;
}
body h1 {
    font-size: 1.5rem;
    color: white;
}
#title {
    height: 28.5rem;
    background-color: lightgray;
    text-align: center;
}
* {
    margin: 0;
}
h3 {
    color: lightseagreen;
    width: 13.5rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 2.5rem;
}
#about {
    display: flex;
}
#about img {
    height: 17rem;
}
#fav {
    display: flex;
    justify-content: space-evenly;
}
